/*****************************************************************************/
/********************************* HEADER ************************************/
/*****************************************************************************/

.header {
  background-color: var(--white);
}

.header-wrapper {
  height: 4.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_component {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-link {
  padding: 0.5rem 1rem;
  color: var(--primary-950);
}

.navbar_buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  cursor: poiner;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  background-color: var(--primary-cta);
}

.btn-navbar {
  color: var(--white);
}

/*****************************************************************************/
/********************************** HERO *************************************/
/*****************************************************************************/

.hero-text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-margin {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.download-app_wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.reviews_wrapper {
  margin-top: 1.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.review-stars_wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

/*****************************************************************************/
/******************************** BENEFITS ***********************************/
/*****************************************************************************/

.benefits_component {
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 3.875rem 3rem;
}

.benefit_headline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

/*****************************************************************************/
/****************************** SUBSCRIPTION *********************************/
/*****************************************************************************/

.subscription_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.subscription-img_wrapper {
  padding-left: 2.25rem;
  padding-right: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscription-text_wrapper {
  padding: 8.25rem 7rem 8.25rem 3.5rem;
}

.check-list_wrapper {
  padding-top: 2rem;
  padding-bottom: 3.75rem;
}
.check_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.check_list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.get-started-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*****************************************************************************/
/********************************* SAVINGS ***********************************/
/*****************************************************************************/

.savings_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.savings-text_wrapper {
  padding: 7.75rem 0.375rem 7.75rem 7rem;
}

.savings-img_wrapper {
  padding: 2.25rem 2.875rem 2.25rem 2rem;
}

/*****************************************************************************/
/********************************* STEPS *************************************/
/*****************************************************************************/

.step_component {
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 4.125rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.step_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
