/*****************************************************************************/
/********************************* HEADER ************************************/
/*****************************************************************************/

.header {
  background-color: var(--white);
}

.header-wrapper {
  height: 4.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_component {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-link {
  padding: 0.5rem 1rem;
  color: var(--primary-950);
}

.navbar_buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/*****************************************************************************/
/********************************** HERO *************************************/
/*****************************************************************************/

.hero-text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-margin {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.download-app_wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.reviews_wrapper {
  margin-top: 1.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.review-stars_wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

/*****************************************************************************/
/******************************** BENEFITS ***********************************/
/*****************************************************************************/

.benefits_component {
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 3.875rem 3rem;
}

.benefits-grid {
  gap: 9rem;
}

.benefit_headline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

/*****************************************************************************/
/****************************** SUBSCRIPTION *********************************/
/*****************************************************************************/

.subscription_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.subscription-img_wrapper {
  padding-left: 2.25rem;
  padding-right: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscription-text_wrapper {
  padding: 8.25rem 7rem 8.25rem 3.5rem;
}

.check-list_wrapper {
  padding-top: 2rem;
  padding-bottom: 3.75rem;
}
.check_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.check_list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.get-started-link {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

/*****************************************************************************/
/********************************* SAVINGS ***********************************/
/*****************************************************************************/

.savings_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.savings-text_wrapper {
  padding: 7.75rem 0.375rem 7.75rem 7rem;
}

.savings-img_wrapper {
  padding: 2.25rem 2.875rem 2.25rem 2rem;
}

/*****************************************************************************/
/********************************** STEP *************************************/
/*****************************************************************************/

.step_component {
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 4.125rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.step_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*****************************************************************************/
/********************************* STEPS *************************************/
/*****************************************************************************/

.steps_component {
  padding: 7rem 11rem 0 11rem;
  border-radius: 0.75rem;
  background-color: var(--white);
}

.steps-text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steps-gap {
  gap: 7rem;
}

.circle-list_wrapper {
  margin-top: 2rem;
}

.circle-list_component {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-circle {
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  background-color: var(--primary-100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6875rem;
  font-weight: 700;
}

.circle-list-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/*****************************************************************************/
/******************************* SECURITY ************************************/
/*****************************************************************************/

.security_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.security-text_wrapper {
  padding: 4.5rem 3.5rem 4.5rem 7rem;
}

.security-paragraph_wrapper {
  margin-top: 1rem;
  margin-bottom: 3.75rem;
}

.security-img_wrapper {
  padding-right: 12.375rem;
}

.security-grid {
  align-items: center;
}

/*****************************************************************************/
/********************************* MANAGE ************************************/
/*****************************************************************************/
.manage_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.manage-img_wrapper {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.manage-text_wrapper {
  padding: 5.25rem 7rem 5.25rem 3rem;
}

.manage-list_wrapper {
  margin-top: 2rem;
}

.manage-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.manage-list-item_headline {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.manage-list-item_text {
  padding-left: 3rem;
}

/*****************************************************************************/
/*********************************** CTA *************************************/
/*****************************************************************************/

.cta_grid {
  gap: 1.5rem;
}

.cta_card {
  border-radius: 0.75rem;
  padding: 2rem;
  height: 37.625rem;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 45ch;
}

.cta_card.bonuses {
  background: radial-gradient(
    121.59% 299.1% at -18.79% 121.59%,
    #fb44c9 0%,
    #ff9ec7 0.01%,
    #4635c3 100%
  );
}

.cta_card.rewards {
  background: radial-gradient(
    159.21% 377.09% at -20.15% 100%,
    #4937c4 0%,
    #98b5ff 100%
  );
}

.card_image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 79%;
}

.card-link-margin {
  margin-top: auto;
  margin-bottom: 3rem;
}

/*****************************************************************************/
/****************************** TESTIMONIALS *********************************/
/*****************************************************************************/

/*****************************************************************************/
/********************************* PRICING ***********************************/
/*****************************************************************************/

.plan_component {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.plan_paragraph {
  text-align: center;
  max-width: 50%;
}

.pricing-grid {
  gap: 1.25rem;
}

.pricing_card {
  background-color: var(--white);
  border-radius: 0.625rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}

.is-purple {
  background-color: var(--primary-500);
}

.pricing-card_text {
  text-align: center;
}
