/*****************************************************************************/
/********************************* HEADER ************************************/
/*****************************************************************************/

.header {
  background-color: var(--white);
}

.header-wrapper {
  height: 4.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_component {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-link {
  padding: 0.5rem 1rem;
  color: var(--primary-950);
}

.navbar_buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  cursor: poiner;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  background-color: var(--primary-cta);
}

.btn-navbar {
  color: var(--white);
}

/*****************************************************************************/
/********************************** HERO *************************************/
/*****************************************************************************/

.hero-text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-margin {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.download-app_wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.reviews_wrapper {
  margin-top: 1.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.review-stars_wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

/*****************************************************************************/
/******************************** BENEFITS ***********************************/
/*****************************************************************************/

.benefits_component {
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 3.875rem 3rem;
}

.benefits-grid {
  gap: 9rem;
}

.benefit_headline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

/*****************************************************************************/
/****************************** SUBSCRIPTION *********************************/
/*****************************************************************************/

.subscription_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.subscription-img_wrapper {
  padding-left: 2.25rem;
  padding-right: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscription-text_wrapper {
  padding: 8.25rem 7rem 8.25rem 3.5rem;
}

.check-list_wrapper {
  padding-top: 2rem;
  padding-bottom: 3.75rem;
}
.check_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.check_list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.get-started-link {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

/*****************************************************************************/
/********************************* SAVINGS ***********************************/
/*****************************************************************************/

.savings_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.savings-text_wrapper {
  padding: 7.75rem 0.375rem 7.75rem 7rem;
}

.savings-img_wrapper {
  padding: 2.25rem 2.875rem 2.25rem 2rem;
}

/*****************************************************************************/
/********************************** STEP *************************************/
/*****************************************************************************/

.step_component {
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 4.125rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.step_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*****************************************************************************/
/********************************* STEPS *************************************/
/*****************************************************************************/

.steps_component {
  padding: 7rem 11rem 0 11rem;
  border-radius: 0.75rem;
  background-color: var(--white);
}

.steps-text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steps-gap {
  gap: 7rem;
}

.circle-list_wrapper {
  margin-top: 2rem;
}

.circle-list_component {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-circle {
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  background-color: var(--primary-100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6875rem;
  font-weight: 700;
}

.circle-list-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

/*****************************************************************************/
/******************************* SECURITY ************************************/
/*****************************************************************************/

.security_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.security-text_wrapper {
  padding: 4.5rem 3.5rem 4.5rem 7rem;
}

.security-paragraph_wrapper {
  margin-top: 1rem;
  margin-bottom: 3.75rem;
}

.security-img_wrapper {
  padding-right: 12.375rem;
}

.security-grid {
  align-items: center;
}

/*****************************************************************************/
/********************************* MANAGE ************************************/
/*****************************************************************************/
.manage_component {
  border-radius: 0.75rem;
  background-color: var(--white);
}

.manage-img_wrapper {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.manage-text_wrapper {
  padding: 5.25rem 7rem 5.25rem 3rem;
}

.manage-list_wrapper {
  margin-top: 2rem;
}

.manage-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.manage-list-item_headline {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.manage-list-item_text {
  padding-left: 3rem;
}
