/*****************************************************************************/
/********************************* HEADER ************************************/
/*****************************************************************************/

.header {
  background-color: var(--white);
}

.header-wrapper {
  height: 4.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_component {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-link {
  padding: 0.5rem 1rem;
  color: var(--primary-950);
}

.navbar_buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  cursor: poiner;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  background-color: var(--primary-cta);
}

.btn-navbar {
  color: var(--white);
}

/*****************************************************************************/
/********************************** HERO *************************************/
/*****************************************************************************/

.hero-text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-margin {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.download-app_wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.reviews_wrapper {
  margin-top: 1.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.review-stars_wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

/*****************************************************************************/
/******************************** BENEFITS ***********************************/
/*****************************************************************************/

.benefits_component {
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 3.875rem 3rem;
}

.benefit_headline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

/*****************************************************************************/
/****************************** SUBSCRIPTION *********************************/
/*****************************************************************************/

/*****************************************************************************/
/********************************* STEPS *************************************/
/*****************************************************************************/

.step_component {
  border-radius: 0.75rem;
  background-color: var(--white);
  padding: 4.125rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.step_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
