@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* COLORS */

  --orange: #ff6e30;
  --blue: #748fb5;
  --dark-bg: #1e252b;
  --light-bg: #f4f6f8;
  --white: #ffffff;
  --black: #000000;
  --primary-cta: #5a45fe;

  /* primary color */
  --primary-50: #efecff;
  --primary-100: #ccc5ff;
  --primary-200: #b3a9ff;
  --primary-300: #9082fe;
  --primary-400: #7b69fe;
  --primary-500: #5a44fe;
  --primary-600: #523ee7;
  --primary-700: #4030b4;
  --primary-800: #32258c;
  --primary-900: #261d6b;
  --primary-950: #0f0b2e;

  /* secondary color */
  --secondary-50: #f9fff0;
  --secondary-100: #ebffd1;
  --secondary-200: #e2ffbb;
  --secondary-300: #d4ff9d;
  --secondary-400: #ccff89;
  --secondary-500: #bfff6c;
  --secondary-600: #aee862;
  --secondary-700: #88b54d;
  --secondary-800: #698c3b;
  --secondary-900: #506b2d;

  /* dark color */
  --dark-50: #e6e6e6;
  --dark-100: #b3b3b3;
  --dark-200: #8e8e8e;
  --dark-300: #5a5a5a;
  --dark-400: #3a3a3a;
  --dark-500: #090909;
  --dark-600: #080808;
  --dark-700: #060606;
  --dark-800: #050505;
  --dark-900: #040404;

  /* light color */
  --light-50: #fefefe;
  --light-100: #fcfdfd;
  --light-200: #fafbfc;
  --light-300: #f8fafb;
  --light-400: #f7f9fa;
  --light-500: #f5f7f9;
  --light-600: #dfe1e3;
  --light-700: #aeafb1;
  --light-800: #878889;
  --light-900: #676869;

  /* FONT */

  --heading-font: "Lato", sans-serif;
  --body-font: "Inter", sans-serif;
}

body {
  background: var(--light-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/*****************************************************************/
/************************* TYPOGRAPHY ****************************/
/*****************************************************************/

.display-style-d1 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 1.25;
  color: #272e35;
}
.display-style-d2 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.22;
  color: #272e35;
}

.heading-style-h1 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.21;
  color: #272e35;
}
.heading-style-h2 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.21;
  color: #272e35;
}
.heading-style-h3 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: #272e35;
}
.heading-style-h4 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.28;
  color: #272e35;
}
.heading-style-h5 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #272e35;
}
.heading-style-h6 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: #272e35;
}

.text-style-subheading {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #6e757c;
}

.text-style-title {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44;
  color: #272e35;
}

.text-style-menu {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: #272e35;
}

.text-style-body-large {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  color: #6e757c;
}

.text-style-body-small {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #6e757c;
}

.text-style-button-large {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.56;
  color: var(--orange);
}

.text-style-button-small {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  color: var(--orange);
}

.text-style-caption {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.85;
  color: #6e757c;
}

.text-style-chip {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #272e35;
}

/*****************************************************************/
/*************************** COLORS ******************************/
/*****************************************************************/

.is-purple {
  color: var(--primary-500);
}

/*****************************************************************/
/*************************** LAYOUT ******************************/
/*****************************************************************/

.container {
  max-width: 80rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-inline: auto;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 9rem;
}

/*****************************************************************/
/************************** SECTIONS *****************************/
/*****************************************************************/

/* HERO */
.section_hero {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* BENEFITS */
.section_benefits {
  margin-bottom: 1.25rem;
}

/* STEPS */
.section_step {
  margin-bottom: 1.25rem;
}

/* SUBSCRIPTION */
.section_subscription {
  margin-bottom: 1.25rem;
}

/* SAVINGS */

.section_savings {
  margin-bottom: 1.25rem;
}
